/**
 * Reset and bg
 */
html, body, div, img, span, button, a, p {
  margin: 0;
  padding: 0;
}
span, a, p {
  font-family: "Microsoft YaHei", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #979797;
}
html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}


/**
 * index.html
 */

/* .width-100, .car-animation-img */
.width-100 {
  width: 100%;
}
.car-animation-img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 3s linear infinite;
  animation: bounce 3s linear infinite;
}
@keyframes bounce {
  25%  { transform:translateY(2%) }
  50%  { transform:translateY(0) }
  75%  { transform:translateY(-2%) }
  100% { transform:translateY(0) }
}
@-webkit-keyframes bounce {
  25%  { -webkit-transform:translateY(2%) }
  50%  { -webkit-transform:translateY(0) }
  75%  { -webkit-transform:translateY(-2%) }
  100% { -webkit-transform:translateY(0) }
}

/* .box, .use-name, .car-position, .btn-check */
.box {
  position: relative;
  left: 50%;
  margin-top: 5vmin;
  width: 80%;
  height: 12vmin;
  line-height: 12vmin;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 2vmin;
}
.box span {
  font-size: 5vmin;
}
.use-name {
  background: url(../img/use-name-bg.png) #f1f0f0 no-repeat left center;
}
.car-position {
  background: url(../img/car-position-bg.png) #f1f0f0 no-repeat left center;
}
.btn-check {
  background: url(../img/button-bg.png) #17ad8b no-repeat left center;
  border: 1px solid #3ebb9f;
}
.use-name, .car-position, .btn-check {
  background-size: 12vmin;
}
.btn-check span {
  color: #fff;
}

/* .direction */
.direction {
  margin: 5vmin;
  font-size: 4vmin;
}

/* .discount-information */
.discount-information {
  margin-top: 5vmin;
}

/* .btn-qrcode */
.btn-qrcode {
  height: 12vmin;
  width: 12vmin;
  position: absolute;
  top: 10vmin;
  right: 10vmin;
  background: url(../img/button.png) no-repeat center center;
  background-size: cover;
  border: 0;
}


/**
 * position.html
 */

/* .img, .use-position-information, .car-position-information */
.img {
  position: absolute;
  top: 0;
  left: 0;
}
.use-position-information {
  height: 15vmin;
  line-height: 7.5vmin;
  width: 60vmin;
  position: absolute;
  top: 9vmin;
  left: 18vmin;
}
.car-position-information {
  height: 15vmin;
  line-height: 7.5vmin;
  width: 52vmin;
  position: absolute;
  top: 32vmin;
  right: 10vmin;
}
.use-position-information p {
  font-size: 4vmin;
  color: #fff;
}
.car-position-information p {
  font-size: 4vmin;
  color: #979797;
}

/* .button-information */
.button-information {
  background: #17ad8b url(../img/position.png) no-repeat left center;
  border: 1px solid #3ebb9f;
  background-size: 12vmin;
}
.button-information span {
  color: #fff;
}


/**
 * orientation: landscape
 */
@media (orientation: landscape) {
  .use-position-information {
    height: 15vw;
    line-height: 7.5vw;
    width: 60vw;
    top: 9vw;
    left: 18vw;
  }
  .car-position-information {
    height: 15vw;
    line-height: 7.5vw;
    width: 52vw;
    top: 32vw;
    right: 10vw;
  }
  .use-position-information p {
    font-size: 4vw;
  }
  .car-position-information p {
    font-size: 4vw;
  }
}
