$title-bar-height    : 44px;
$title-bar-padding   : 10px;
$title-bar-font-size : 17px;
$title-bar-color     : rgba(247, 247, 247, .98);
$title-bar-shadow    : 0 0 1px rgba(0, 0, 0, .85);

@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
     -moz-box-shadow: $box-shadow;
       -o-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
}

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  height: $title-bar-height;
  padding: 0 $title-bar-padding;

  background-color: $title-bar-color;
  @include box-shadow($title-bar-shadow);

  .title {
    position: absolute;

    display: block;
    width: 100%;
    margin: 0 (-$title-bar-padding);

    font-size: $title-bar-font-size;
    font-weight: 500;
    color: black;

    line-height: $title-bar-height;
    text-align: center;
    white-space: nowrap;
  }

  .icon {
    position: relative;
    z-index: 20;

    display: inline-block;
    padding: $title-bar-padding 0;

    font-size: $title-bar-height - $title-bar-padding * 2;
    color: gray;

    line-height: 1;

    text-decoration: none;
  }

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }
}
